*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 32px;
}

table th{
    border: 1px solid black;
    padding: 8px;
    width: 200px;
} 

td{
    border: 1px solid black;
    padding: 8px;
    width: 200px;
    text-align: center; 
}

td button{
    margin: 0 8px;
}


form{
    border: 1px solid black;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

input{
    border: 1px solid #B0B0B0;
    border-radius: 4px;
}

input, button{
    padding: 8px;
    cursor: pointer;
}

button{
    border-radius: 4px;
    background-color: green;
    color: white;
}

p{
    background-color: aqua;
}

.botaoRemover{
    background-color: red;
}

